.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
}

.form input[type="text"],
.form select {
    padding: 1rem;
    background-color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 8px;
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit {
    background-color: var(--black);
    border:none;
    color: var(--white);
    font-weight: 700px;
    font-size: 1.4 rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    margin: 3rem;
    border-radius: 8px;
}