:root {
  --white: #FFFF;
  --black: #000000;
}

html {
  font-size:62.5%
}

body {
  font-family: "Outfit", sans-serif;
  background-image: url("/background.png");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  min-height: 100vh; 
  font-size: 2rem;
 }
